@{
    ViewBag.Title = "About";
}

&nbsp;

<h2 style="color:orange">What is the 'Safe Place' scheme?</h2>

&nbsp;

<p>
    The Safe Place scheme provides reassurance to vulnerable people and their carers, or people who find themselves in challenging situations, so that they can live more independent lifestyles knowing that there is help available when they are out and about.
</p>
<p>
    The scheme offers a way to alert someone of any potential risk or emergency if a vulnerable person is out alone. Consequently, having access to a 'Safe Place' will help vulnerable residents lead independent lives and feel safe. Already successful in other areas across the UK, Buckinghamshire's programme is co-ordinated by Buckinghamshire County Council's Community Safety team supported by the District Councils, Thames Valley Police and local voluntary organisations.
</p>

<h2 style="color:orange">How this scheme work</h2> &nbsp;

<p>
    A sticker is placed in a prominent position in the window or on a door of a 'Safe Place', identifying that help is available here for vulnerable people.

    Vulnerable residents in the community will be told about the scheme (and the identifying logo) by their support organisations and some will carry a card which shows their name and the name and phone number of their trusted person.

    If a vulnerable person seeks help, members of staff would be expected (after some simple, free training) to make a phone call where necessary to the trusted person on the card (if carried) or to one of the numbers on an emergency contact list provided to the premises. They would also reassure and keep the vulnerable person safe until the situation was resolved.
</p>

<p>
    <a button type="button" class="btn btn-danger active btn-lg" href="https://www.police.uk/contact/"> EMERGENCY </a>
</p>
