@{
    ViewBag.Title = "Contact";
}


&nbsp;

<h2 style="color:orange">Contact us online </h2>

&nbsp;

<p>
    Send us an email to: &nbsp; safeplacescheme@bucks.com
</p>
<p>
    For any other enquiries please sent it to: &nbsp; safeplaceschemeinquiries@bucks.com
</p>

<h2 style="color:orange">Alternative ways to contact us</h2>
If you can't access the online form you can contact our customer service centre by: 
<br />
<br/>
<p>
    <b>Telephone</b>
    <br/>
    Phone number: 01296 395000 
    <br/><br />
    You can call us: 
    <br/><br />
    Monday to Thursday 9am to 5.30pm
    <br/>
    Friday 9am to 5pm
</p>

<p>
    <a button type="button" class="btn btn-danger active btn-lg" href="https://www.police.uk/contact/"> EMERGENCY </a>
</p>