@{
    ViewBag.Title = "Home Page";
}
<br/>
<h2 style="color:orange">Safe Place Scheme </h2> &nbsp;

<p>
    The Safe Place Scheme gives vulnerable people a short term "Safe Place" to go if feeling threatened when out and about and aims to help people feel confident and safe in their community.
    <br/>
    <br/>
    Shops, businesses and public buildings who are a "Safe Place" will have a sticker in their window, people who take part in the Scheme will be given a card to carry.  If they feel unsafe they can go to the place that displays a sticker in the window and show them the card. The card will have telephone numbers on for the "Safe Place" staff to call.
    <br/><br/>
    There is a free Safe Place Scheme App available for your mobile phone, download “My Town Worcestershire” from the App Store, this will show you your nearest “Safe Place” and guide you to it through Google Maps.
</p>

<p>
    <a button type="button" class="btn btn-danger active btn-lg" href="https://www.police.uk/contact/"> EMERGENCY </a>
</p>
