<h2 style="color:#fff">Break/New Line Cheat</h2>
@{
    ViewBag.Title = "Logged";
}

<h2>Hello User, You Have Logged In</h2>

<h3> Please Make use of the facilities that are avaliable to you </h3>

<ul>
    <li>@Html.ActionLink("Training", "SystemTraining", "Home")</li>
</ul>