<h2 style="color:#fff">Break/New Line Cheat</h2>
@{
    ViewBag.Title = "Medical";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="emergency">
    <a href="https://www.police.uk/contact/" class="button buttonEmergency">  </a>
    <p>EMERGENCY</p>
</div>