@{
    ViewBag.Title = "Medical";
}

&nbsp;

<h2 style="color:orange">Advice Guide for Safe Place Locations</h2>

&nbsp;

<h4>Is there an emergency? </h4> 
<p>
    In an emergency situation, such as when someone requires urgent medical attention or when there is a crime in progress, call 999. 
    <br/>
    To report a crime when situation is no longer urgent, call 101. 
</p>


<h4>Offer reassurance: </h4>
<p>
    Make sure the person knows you are happy to support them   
</p>


<h4>Tell the person your name: </h4>
<p>
    And your role, so they know who you are.
</p>

<h4>Avoid physical contact: </h4>
<p>
    As some people may react in unexpected ways.
</p>


<h4>Speak slowly and clearly: </h4>
<p>
    As this gives the person the best chance to understand what you are saying
</p>


<h4>Ask for a contact: </h4>
<p>
    Ask 'Do you have anyone I can contact?' and/or 'Do you have a card with their information?'
    <br />
    Call the contact person if necessary and ask for them to come as soon as possible.
</p>


<h4>Provides support and advice: </h4>
<p>
    This may ve giving directions, but could be more serious. See point 1.
</p>


<h4>Stay with the person: </h4>
<p>
    If possible, until their named person or emergency services arrive.
</p>


<h4>Make a record: </h4>
<p>
    Please make a record of the incident.
</p>
<p>
    <a button type="button" class="btn btn-danger active btn-lg" href="https://www.police.uk/contact/"> EMERGENCY </a>
</p>