
@{
    ViewBag.Title = "SystemTraining";
}

&nbsp;
<h2 style="color:orange">System Training Information </h2>

<br />

<p>
    <b style="color:red">Admin Access - How to access resticted pages?</b>



    <br /> <br/> 
    Step 1: Click "Login" on the right side of the navbar, this will open the "Login" page
    <br /> <br/>
    <img src="/Content/Images/Login.jpg" alt="" style="width: 650px; height:400px" />
    
    <br /> <br/>
    Step 2: Enter the Email and Password that is given to you, press "Login"
    <br />
    <img src="/Content/Images/Login2.png" alt="" style="width: 650px; height:400px" />

    <br />
    Step 3:
    <br /> <br/>
    You can now access all restricted pages
</p>

<br /> <br /> <br />

<p>
    <b style="color:red">Admin Access - How to Edit a Location?</b>

    <br /> <br/>
    Step 1:
    <br /> <br/>
    Make sure you are Logged so you can access this page
    <br /> <br/>
    Step 2: Click the "Edit" option from the "Location" you want to "Edit"
    <br /> <br/>
    <img src="/Content/Images/EditIncident.jpg" alt="" style="width: 650px; height:400px" />
    <br /> <br/>
    Step 3: This will show the "Location" information, you can now edit it
    <br /><br/>
    <img src="/Content/Images/EditLocation2.png" alt="" style="width: 650px; height:400px" />
    <br /><br/>
    Step 4:
    <br />
    Once finished, press "Save"
</p>


<br /> <br /> <br />

<p>
    <b style="color:red">Admin Access - How to see a Location's details</b>

    <br /> <br/>
    Step 1:
    <br /> <br/>
    Make sure you are Logged so you can access this page
    <br /> <br />
    Step 2:
    <br /> <br />
    Click the "Location" page on the navbar. This will show all Locations
    <br /> <br/>
    Step 3: Click on "Details" within the "Location"
    <br /><br/>
    <img src="/Content/Images/DetailsLocation.jpg" alt="" style="width: 650px; height:400px" />
    <br /><br/>
    Step 4: "Details" of that specific "Location" will be shown
    <br />
    <img src="/Content/Images/DetailsLocation2.png" alt="" style="width: 650px; height:400px" />
</p>

<br /> <br /> <br />

<p>
    <b style="color:red">Admin Access - How to Edit an Incident?</b>

    <br /> <br />
    Step 1:
    <br /> <br/>
    Make sure you are Logged so you can access this page
    <br /> <br />
    Step 2: Click the "Edit" option from the "Incident" you want to "Edit"
    <br /> <br/>
    <img src="/Content/Images/EditIncident.jpg" alt="" style="width: 650px; height:400px" />
    <br /><br/>
    Step 3: This will show the "Incident" information, you can now edit it
    <br /><br/>
    <img src="/Content/Images/EditIncident2.png" alt="" style="width: 650px; height:400px" />
    <br /><br/>
    Step 4:
    <br /><br/>
    Once finished, press "Save"
</p>

<br /> <br /> <br />

<p>
    <b style="color:red">Admin Access - How to see an Incident's details</b>

    <br /> <br/>
    Step 1:
    <br /><br />
    Make sure you are Logged so you can access this page
    <br /> <br/>
    Step 2:
    <br /><br />
    Click the "Incident" page on the navbar. This will show all Incidents
    <br /> <br/>
    Step 3: Click on "Details" within the "Incident"
    <br /><br />
    <img src="/Content/Images/DetailsIncident.jpg" alt="" style="width: 650px; height:400px" />
    <br /><br/>
    Step 4: "Details" of that specific "Incident" will be shown
    <br /><br />
    <img src="/Content/Images/DetailsIncident2.png" alt="" style="width: 650px; height:400px" />
</p>